.restaurantPageHeaderName {
  height: 36px;
  font-family: TimesNewRoman, 
  "Times New Roman", Times, 
  Baskerville, Georgia, serif; 
  font-size: 36px; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 600; 
  color: #fff;
  text-transform: uppercase;
  float:left;
}

.restaurantPageHeaderBackButton {
    color: #610F7F;
  height: 60px;
  width: 60px;
  font-size: 34px;
  float:left;
}