.alertBox {
  min-height: calc(100vh - 192px);
  text-align: center;
  position: relative;
}

.alert {
  display: inline-block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  height: 450px;
  width: 450px;
  transition: all 0.4s ease;
  text-transform: uppercase;
  font-family: TimesNewRoman, 
  "Times New Roman", Times, 
  Baskerville, Georgia, serif; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 600; 
}
.alertTextContainer {
  height: 100px;
  width: 100%;
  margin: 160px 0 0 0;
  transition: all 0.4s ease;
}
@media only screen and (max-width: 1500px) {

}
@media only screen and (max-width: 1199px) {
  
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
  .alert {
    height: 340px;
    width: 340px;
  }
  .alertTextContainer {
    height: 100px;
    margin: 120px 0 0 0;
  }
}
@media only screen and (max-width: 575px) {
  .alert {
    height: 290px;
    width: 290px;
  }
  .alertTextContainer {
    height: 100px;
    margin: 100px 0 0 0;
  }
}