.restaurantTile {
  height: 450px;
  width: 450px;
  color: #fff;
  margin: 80px 20px 20px 20px;
  display: inline-block;
  text-transform: uppercase;
  font-family: TimesNewRoman, 
  "Times New Roman", Times, 
  Baskerville, Georgia, serif; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 600; 
}

.restaurantName {
  margin-top: 5%;
  width: 100%;
  height: 30%;
  top: 0px;
  left: 0px;
}

.restaurantInfo {
  width: 100%;
  height: 30%;
  bottom: 0px;
  left: 0px;
  margin-top: 25%;
}

.restaurantInfo div {
  height: 100%;
  width: 33%;
  display: inline-block;
}

.restaurantLocation {
}

@media only screen and (max-width: 1500px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
  .restaurantTile {
    height: 340px;
    width: 340px;
  }
}
@media only screen and (max-width: 575px) {
  .restaurantTile {
    height: 290px;
    width: 290px;
  }
}