.header {
  height: 64px;
  width: 100%;
  background-color: #E2C2C6;
  position: fixed;
  z-index: 1;
}

@media only screen and (max-width: 1500px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 575px) {
}