html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #fff;
  font-family: TimesNewRoman, 
  "Times New Roman", Times, 
  Baskerville, Georgia, serif; 
  font-size: 24px; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 600; 
  line-height: 26.4px;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 18px;
  top: 18px;
}

.bm-cross-button:before, .bm-cross-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 5px;
  background-color: #fff;
}

.bm-cross-button:before {
  transform: rotate(45deg);
}
.bm-cross-button:after {
  transform: rotate(-45deg);
}

.bm-cross-button span {
  display: none;
}

.bm-burger-bars {
  background: #610F7F;
}

.bm-cross-button {
  height: 36px !important;
  width: 36px !important;
  right: 14px !important;
  top: 18px !important;
}

.bm-cross {
  background: #fff;
}

.bm-menu {
  background: #610F7F;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #610F7F;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}